html, body {
  width: 100%;
  background: linear-gradient(to bottom right, #903749, #e84545);
  margin: 0;
  font-weight: 500;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

/*-------------Navbar-------------------------------------------*/
.index {
  border-bottom: #39a0ca solid 4px;
}

.right {
  padding: 0 10px 0 0;
}

.navbar {
  width: 100%;
  background: #2b2e4a;
  height: 13vh;
}

.navbar-brand {
  font-size: 1.8rem;
}

/*--------------Carousel--------------------------------*/
.slider {
  margin: 0 0 4% 0;
}

/*--------------- Help Button------------------------ */

.help-btn {
  font-size: 30px;
  border-radius: 100%;
  position: fixed;
  color: #2b2e4a;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  transition: 0.4s all;
  z-index: 900;
  opacity: 80%;
}

.help-btn:hover {
  opacity: 190%;
  color: antiquewhite;
  background-color: #2b2e4a;
  transform: translateY(-5px);
}

/*----------------- Form -----------------------*/
form {
  margin: 0 auto;
  width: 250px;
}

.btn {
  background-color: antiquewhite;
  font-weight: 700;
}

.card-user-container {
  margin-bottom: 1rem;
  background-color: #102841;
  color: white;
  overflow: hidden;
  padding: 0;
  border-radius: 0;
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.card-user-container .card-user-avatar .user-image {
  display: block;
  margin: auto;
  border-radius: 50%;
  width: 11.875rem;
  height: 11.875rem;
  padding: 0.9375rem;
}

.card-user-container .card-user-avatar .user-image:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.card-user-container .card-user-bio {
  padding: 1rem;
  text-align: center;
}

.card-user-container .card-user-bio .location {
  display: inline-block;
  margin: 0 0.9375rem;
  color: #767676;
  font-size: 0.875rem;
}

.card-user-container .card-user-bio .location-icon,
.card-user-container .card-user-bio .location-text {
  display: inline-block;
  padding: 0 0.3125rem;
}

.card-user-container .card-user-social {
  background: #e6e6e6;
  padding: 1rem;
  text-align: center;
}

.card-user-container .card-user-social ul {
  display: inline-block;
}

.card-user-container .card-user-social ul li {
  margin: 0 10px;
  font-size: 1.2em;
  cursor: pointer;
}

.card-user-container .card-user-social ul li:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.card-user-container .card-user-button {
  text-align: center;
  padding: 1rem;
}

.menu {
  margin: auto 0;
  margin-left: -40px;
}

.menu>li {
  color: #555;
  font-size: 3rem;
}

/*----------------- Footer ----------------------*/
footer {
  margin-top: 100px;
  background-color: #2b2e4a;
  padding: 10px;
  color: antiquewhite;
}

footer>p {
  margin-bottom: 10px;
  padding: 10px;
}

footer>a {
  padding: 10px;
  font-size: 25px;
  color: antiquewhite;
}

form {
  margin: auto;
  width: 500px;
  text-align: left;
}

/*-------------Reg-form-----------------*/
.wrapper-form {
  margin-top: 10%;
  background-color: white;
  padding: 10px 15px 40px;
}

.form-div {
  padding: 20px 5px;
  border-radius: 50px;
}

.radio-label {
  padding-right: 15px;
}

.upload-text {
  padding-left: 80px;
}

.reg-submit {
  float: right;
}
