@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translate(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translate(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #4C495D;
  padding: 30px; }

.heading-primary {
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 9px;
  text-align: center; }
  .heading-primary--main {
    display: block;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, #4C495D, #902BB1);
    -webkit-background-clip: text;
    color: transparent;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px; }

.fs-title {
  font-size: 3rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #4C495D, #902BB1);
  -webkit-background-clip: text;
  color: transparent; }

.btn-form {
  float: left;
  width: 15rem;
  height: 4.6rem;
  margin-top: 10px;
  color: #902BB1;
  font-size: 2.4rem;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 5%;
  outline: none;
  border: none;
  border-bottom: 2px solid #902BB1;
  box-shadow: 0 0 5px #902bb1; }
  .btn-form:first-child {
    float: right; }
  .btn-form::after {
    content: "";
    display: table;
    clear: both; }
  .btn-form:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #2D283E;
    cursor: pointer; }
  .btn-form:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
  .row .col-1-of-2 {
    width: calc((100% - 3rem)/2);
    height: 100%; }
  @media screen and (max-width: 768px) {
    .row .col-2 {
      width: 100%;
      padding: 0 20px; } }
  .row .col-1-of-3 {
    width: calc((100% - 2*3rem)/3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2*3rem)/3) + 3rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3*3rem)/4); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3*3rem)/4) + (2 * 3rem )); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(144, 43, 177, 0.8), rgba(45, 40, 62, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 40px;
    left: 40px; }
  .header__logo {
    height: 35px; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-card {
  background-color: #D1D7E0;
  padding: 10rem 0 15rem 0;
  height: 100%; }
  .section-card .progressbar {
    list-style-type: none;
    font-size: 3rem;
    text-align: center;
    position: relative;
    padding-top: 1rem; }
    .section-card .progressbar .progressbar--item {
      display: inline-block;
      margin-top: 5px; }
      .section-card .progressbar .progressbar--item:not(:last-child) {
        padding-right: 50px; }
      .section-card .progressbar .progressbar--item .fas {
        background-color: #eee;
        border: 1px solid black;
        width: 60px;
        height: 60px;
        padding-top: 15px;
        border-radius: 50%;
        color: #902BB1;
        animation: moveInRight 1s ease-out; }
      .section-card .progressbar .progressbar--item .active {
        background-color: #000; }
  .section-card .form-elements {
    height: auto; }
    .section-card .form-elements .steps {
      text-align: center; }
    .section-card .form-elements input {
      display: block;
      width: 100%; }
    .section-card .form-elements .fieldlabels {
      display: block; }
    .section-card .form-elements h2 {
      font-size: 3rem;
      font-weight: 700; }
      .section-card .form-elements h2:not(:last-child) {
        margin-right: -60px;
        display: inline-block; }

.form-card {
  margin-top: 3rem; }
  .form-card .form-radio {
    font-size: 2.1rem; }
    .form-card .form-radio input[type=radio] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 100%;
      width: 16px;
      height: 16px;
      border: 2px solid #999;
      transition: 0.2s all linear;
      margin-right: 5px;
      position: relative;
      top: 0.5px;
      margin-right: 0;
      margin-left: 1rem;
      outline: none; }
      .form-card .form-radio input[type=radio]:checked {
        outline: none;
        border: 4px solid #902BB1;
        background-color: #000; }
  .form-card .row-form input[type=number] {
    padding-left: 1.2rem;
    width: 7rem;
    height: 3.5rem;
    font-size: 2rem;
    outline: none;
    border: none;
    margin-bottom: 2rem; }
    .form-card .row-form input[type=number]:focus {
      border-bottom: 2px solid #902BB1;
      box-shadow: 0 0 5px #902bb1; }
  .form-card .row-form input[type=file] {
    color: white;
    background-color: #4C495D;
    width: 45%; }
  .form-card .row-form:first-child {
    margin-bottom: 1.5rem; }
  .form-card .row-form:not(:first-child) {
    margin-bottom: 1rem; }
  .form-card .row-form .form-elements .fieldlabels {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1rem; }
  .form-card .row-form .form-elements input[type=email],
  .form-card .row-form .form-elements input[type=tel],
  .form-card .row-form .form-elements input[type=text] {
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 2px 10px;
    height: 50px;
    border-bottom: 3px;
    color: #564F6F;
    opacity: 90%;
    font-size: 1.7rem; }
    .form-card .row-form .form-elements input[type=email]:focus,
    .form-card .row-form .form-elements input[type=tel]:focus,
    .form-card .row-form .form-elements input[type=text]:focus {
      border-bottom: 3px solid #902BB1;
      box-shadow: 0 0 5px #902bb1; }

.image-section {
  margin: 250px auto;
  height: 600px;
  width: 100%;
  margin-bottom: 40px; }
  .image-section #card-img {
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto 0;
    height: 300px;
    width: 100%;
    background-image: linear-gradient(to right bottom, rgba(144, 43, 177, 0.5), rgba(76, 73, 93, 0.5)), url("../img/nat-2.jpg"); }

    .footer-class {
      padding-top: 8vh;
      height: 30vh;
      text-transform: uppercase;
      font-size: 2rem;
      letter-spacing: 0.8rem;
      margin-top: -7rem;
      color: white;
      background-image: linear-gradient(to right bottom, rgba(144, 43, 177, 0.8), rgba(45, 40, 62, 0.8)), url("../images/hero.jpg");
      background-size: cover;
      background-position: bottom;
      clip-path: polygon(0 9vh, 100% 0, 100% 100%, 0 100%);
      text-align: center; }
      .footer-class .foot-icon {
        color: white;
        letter-spacing: 20px;
        padding-bottom: 0.5rem;
        font-size: 2.5rem; }
      .footer-class .cpt {
        padding: 0;
        letter-spacing: 0.5rem;
        text-transform: none; }
    